html, body {
  height: 100%;
  font-family: $ci-font-family;
  font-size: $ci-font-size;
  font-weight: $ci-font-weight;
  color: $ci-font-color;
}

.app {
  @extend .container;

  display: flex;
  flex-direction: column;
  height: 100vh;

  > .header {
    height: 10em;
    border-bottom: 1px darkgrey outset;
  }

  > .main {
    overflow-y: auto;
    min-height: 0;
  }

  > .footer {
    min-height: 10em;
  }
}
