html, body {
  height: 100%;
  font-family: $ci-font-family;
  font-size: $ci-font-size;
  font-weight: $ci-font-weight;
  color: $ci-font-color;
}

#app {
  background-color: $ci-color-light-gray;
}

.app {
  @extend .container;

  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;

  .header {
    min-height: 3em;
    margin-left: -2 * $ci-default-gap;
    margin-right: -2 * $ci-default-gap;
  }

  > .main {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    margin-top: 2 * $ci-default-gap;
  }

  > .footer {
    min-height: 12em;
  }
}
