@import "~bootstrap/scss/bootstrap.scss";

html, body {
  height: 100%;
  font-size: 15px;
}

.app {
  @extend .container;

  display: flex;
  flex-direction: column;
  height: 100vh;

  > .header {
    height: 10em;
    border-bottom: 1px darkgrey outset;
  }

  > .main {
    overflow-y: auto;
    min-height: 0;
  }

  > .footer {
    height: 20em;
  }
}
