.chat-message-brick {
  display: flex;
  flex-direction: row;

  width: 80%;

  margin-bottom: 3 * $ci-default-gap;
  padding-right: 2 * $ci-default-gap;

  &.nostro {
    float: right;
  }

  .content {
    flex: 1;

    display: flex;
    flex-direction: column;

    padding-left: $ci-default-gap;
  }
}
