// Typography
$ci-font-family: "Helvetica", "Roboto", "Arial", "sans serif";
$ci-font-size: 13pt;
$ci-font-weight: 300;
$ci-font-weight-bolder: 500;
$ci-font-weight-bold: 600;

$ci-font-color: lighten(black, 50%);
$ci-font-color-dark: black;
$ci-font-color-inverse: white;

$ci-color-light-gray: lighten(gray, 30%);
$primary: #0082DD;

// Layout
$ci-avatar-size: 3em;
$ci-default-gap: 0.5em;
